.deleteDialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background-color: #cfcfcf;
    border-radius: 3px;
    box-shadow: 24px;
    padding: 15px;
}